<a href="https://colab.research.google.com/github/garvey43/computer-science3/blob/main/Introduction_to_computer_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
type(9) #type function()

int

In [ ]:
type(18.9) # Nomber With Decimals

float

In [ ]:
type("garvey") #string

str

In [ ]:
type(True) #Boolean

bool

In [ ]:
#variables
name = "garvey"
age = 19 # age
city = "Eldoret"

In [ ]:
print(name)

garvey

In [ ]:
#Math in python
pi = 355/113 # aproximate value for pi
radius = 2.2
radius = pi * (radius**2)
circumferance = pi * (radius*2)

In [ ]:
float(80)

80.0

In [ ]:
int(18.9)

18

In [ ]:
round(18.6)

19

In [ ]:
new=(input("enter num1:"))
new2=(input("enter num2:"))
sum=new+new2
print(f"your age twice is :{sum}")

enter num1:20
enter num2:50
your age twice is :70.0

In [ ]:
# Data conversions and Expressions
float(3) # convert 3 to 3.0++++

3.0

In [ ]:
int(3.9)

3

In [ ]:
round(3.9) # round to 4

4

In [ ]:
 #Mathematical Expretion:
 3 + 2

5

In [ ]:
(4 + 2) * (6 - 1)

30

In [ ]:
# cord style and best practice
# calculate the area and the circumfrance of a circle using an approximation for pi
pi = 355/113
radius = 2.2
area = pi * (radius**2)
radius = radius + 1 # update the radius

In [ ]:
pi = 3.14 # Reassing pi
radius = 2.2
area =pi * (radius**2)
radius = radius + 1 # updating the radius

In [ ]:
 #Define the approximate value for pi and the radius
 pi = 355/113 # approximate value for pi, roughly 3.1415929203539825
 radius = 2.2

 # calculate the area and the cicumference of a circle
 area = pi * (radius * 2 )
 # print the results
 print("area:",area)

area: 13.823008849557525

In [ ]:
# Debugging and fixing y =x
x= 1
y =2
# incorect swap:
x = y
x = y

In [ ]:
x = 1
y = 2
temp = x
x = y
y = temp

In [ ]:
print(y)

1

In [ ]:
x, y = y, x

In [ ]:
print(y)

NameError: name 'y' is not defined

In [3]:
# calculate the area and parimeter of a rectangle
length = 5.0           # length of a rectangle (in meters)
width = 3.2
area_rectangle =length * width
perimater = (length + width)

In [31]:
print(f"Rectangle Area:{area_rectangle}")
print(f"Rectangle perimater:{perimater}")

Rectangle Area:16.0
Rectangle perimater:16.4

In [7]:
# calculate updated area after increasing dimansions
length =5.0          # initial length
width = 3.2          # initial width

In [10]:
#calculate the area with initial dimansion
initial_area=length * width

In [14]:
# massy code Example

# Messy Version
length =5.0; width=3.2
area =length * width
perimater=2*(length+width)
print(area, perimater)

16.0 16.4

In [16]:
# Or calculate the area and perimater of a rectangle using clear veriables

length=5.0
width=3.2
area=length * width
perimater=2*(length+width)
print(area, perimater)

16.0 16.4

In [18]:
# Buggy function to computer the average of three nombers
def average(a,b,c):
  #BUG: Due to operator precidance, omly c is divided by 3
  average =a+b+c/3
  return average

  # Expected output for average (3,6,9)should be 6.0 but the bug causes a miscalculation
  print("Bugy average")< average(3,6,9)

In [26]:
num = 5
print("The number is " ,(num))

The number is  5

In [28]:
a=10
b=5
total =a+b
product =a*b
result =total+product
print("total",total)
print("product",product)
print("result (total + product):",result)

total 15
product 50
result (total + product): 65